/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

header {
	text-align: center;
}

body {
	text-align: left;
}

.board {
	display: inline-block;
	height: 50%;
	width: 50%;
	color: yellow;
}

.card {
	height: 200px;
	width: 150px;
	color: yellow;
	border:solid 1px black;
	border-radius: 10px;
	color: black;
	background-color: yellow;
	float: left;
	margin: 8%;
}
footer {
	text-align: center;
	background-color: #808080;
}
.name {
	color: #ff0000;
}
.clearfix {
	background-color: #808080;
	text-c

}
a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }